<p>Tabla de ventas</p>

<div *ngIf="cargandoVentas">Cargando ventas...</div>
<table *ngIf="!cargandoVentas && listadoVentas.length > 0" class="table-ventas">
  <thead>
    <tr>
      <th class="th-cb"></th>
      <th class="th-order">Num. de Orden</th>
      <th class="th-date">Fecha</th>
      <th class="th-product">Producto</th>
      <th class="th-price">Precio</th>
      <th class="th-seller">Vendedor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let venta of listadoVentas">
      <td class="td-cb"></td>
      <td class="td-order">{{ venta.id }}</td>
      <td class="td-date">{{ venta.fecha }}</td>
      <td class="td-product">
        <ng-container *ngIf="venta.productos && venta.productos.length > 0; else noProductos">
          {{ obtenerTitulosProductos(venta.productos) }}
        </ng-container>
        <ng-template #noProductos>
          Sin productos
        </ng-template>
      </td>
      <td class="td-price">${{ venta.total }}</td>
      <td class="td-seller">{{venta.vendedor}}</td> 
    </tr>
  </tbody>
</table>
<div *ngIf="!cargandoVentas && listadoVentas.length === 0">No hay ventas disponibles.</div>

